openapi: 3.0.3
info:
  title: 自社サイト microCMS Content API
  version: 1.0.0
  description: microCMSスキーマから自動生成されたOpenAPI仕様書
servers:
  - url: https://hot-factory.microcms.io/api/v1
    description: microCMS Content API
paths:
  /2w26g39c3ibq:
    get:
      tags:
        - 2w26g39c3ibq
      summary: 2w26g39c3ibq 一覧取得
      operationId: list2w26g39c3ibq
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: &a1
            x-current-date-time:
              description: サーバー時刻 (ISO 8601 UTC)
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/2w26g39c3ibqListResponse"
        "400": &a2
          $ref: "#/components/responses/BadRequest"
        "401": &a3
          $ref: "#/components/responses/Unauthorized"
        "404": &a4
          $ref: "#/components/responses/NotFound"
        "429": &a5
          $ref: "#/components/responses/TooManyRequests"
  /2w26g39c3ibq/{contentId}:
    get:
      tags:
        - 2w26g39c3ibq
      summary: 2w26g39c3ibq 詳細取得
      operationId: get2w26g39c3ibqById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/2w26g39c3ibq"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /category:
    get:
      tags:
        - category
      summary: category 一覧取得
      operationId: listCategory
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /category/{contentId}:
    get:
      tags:
        - category
      summary: category 詳細取得
      operationId: getCategoryById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /client:
    get:
      tags:
        - client
      summary: client 一覧取得
      operationId: listClient
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /client/{contentId}:
    get:
      tags:
        - client
      summary: client 詳細取得
      operationId: getClientById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /config:
    get:
      tags:
        - config
      summary: config 取得 (オブジェクト形式)
      operationId: getConfig
      parameters:
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Config"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /history:
    get:
      tags:
        - history
      summary: history 取得 (オブジェクト形式)
      operationId: getHistory
      parameters:
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /notes:
    get:
      tags:
        - notes
      summary: notes 一覧取得
      operationId: listNotes
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /notes/{contentId}:
    get:
      tags:
        - notes
      summary: notes 詳細取得
      operationId: getNotesById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notes"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /recruit:
    get:
      tags:
        - recruit
      summary: recruit 一覧取得
      operationId: listRecruit
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecruitListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /recruit/{contentId}:
    get:
      tags:
        - recruit
      summary: recruit 詳細取得
      operationId: getRecruitById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recruit"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /tags:
    get:
      tags:
        - tags
      summary: tags 一覧取得
      operationId: listTags
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /tags/{contentId}:
    get:
      tags:
        - tags
      summary: tags 詳細取得
      operationId: getTagsById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tags"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /works:
    get:
      tags:
        - works
      summary: works 一覧取得
      operationId: listWorks
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/ordersParam"
        - $ref: "#/components/parameters/qParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/filtersParam"
        - $ref: "#/components/parameters/idsParam"
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 一覧取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorksListResponse"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
  /works/{contentId}:
    get:
      tags:
        - works
      summary: works 詳細取得
      operationId: getWorksById
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
          description: コンテンツID
        - $ref: "#/components/parameters/draftKeyParam"
        - $ref: "#/components/parameters/fieldsParam"
        - $ref: "#/components/parameters/depthParam"
        - $ref: "#/components/parameters/richEditorFormatParam"
      responses:
        "200":
          description: 詳細取得成功
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Works"
        "400": *a2
        "401": *a3
        "404": *a4
        "429": *a5
components:
  securitySchemes:
    XApiKey:
      type: apiKey
      in: header
      name: X-MICROCMS-API-KEY
  schemas:
    MicroCMSContentBase:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          description: 作成日時 (UTC)
        updatedAt:
          type: string
          format: date-time
          description: 更新日時 (UTC)
        publishedAt:
          type: string
          format: date-time
          nullable: true
          description: 公開日時 (UTC)
        revisedAt:
          type: string
          format: date-time
          nullable: true
          description: 改訂日時 (UTC)
      required:
        - createdAt
        - updatedAt
    MicroCMSImage:
      type: object
      description: microCMS 画像オブジェクト
      properties:
        url:
          type: string
          format: uri
          description: 画像URL
        height:
          type: integer
          nullable: true
          description: 画像の高さ (px)
        width:
          type: integer
          nullable: true
          description: 画像の幅 (px)
        alt:
          type: string
          nullable: true
          description: 代替テキスト
      required:
        - url
    MicroCMSFile:
      type: object
      description: microCMS ファイルオブジェクト
      properties:
        url:
          type: string
          format: uri
          description: ファイルURL
        fileSize:
          type: integer
          description: ファイルサイズ (Bytes)
      required:
        - url
    MicroCMSError:
      type: object
      description: microCMS エラーレスポンス
      properties:
        message:
          type: string
          description: エラーメッセージ
      required:
        - message
    CustomField_Config_Access:
      type: object
      description: アクセス
      properties:
        fieldId:
          type: string
          enum:
            - access
          description: カスタムフィールド識別子
        name:
          description: 拠点名
          type: string
        en:
          description: 拠点名(英語1)
          type: string
        en2:
          description: 拠点名(英語2)
          type: string
        address:
          description: 住所
          type: string
        tel:
          description: 電話番号
          type: string
        fax:
          description: FAX
          type: string
        access:
          description: アクセス
          type: string
        map:
          description: Google Map
          type: string
        positionTop:
          description: マップ座標(Top)
          type: number
        positionLeft:
          description: マップ座標(Left)
          type: number
        photo1:
          description: 写真(外観)
          $ref: "#/components/schemas/MicroCMSImage"
        photo2:
          description: 写真(内観)
          $ref: "#/components/schemas/MicroCMSImage"
      required:
        - fieldId
        - name
        - en
        - en2
        - address
        - tel
        - fax
        - access
        - map
        - positionTop
        - positionLeft
        - photo1
        - photo2
    CustomField_Config_Topic:
      type: object
      description: トピック
      properties:
        fieldId:
          type: string
          enum:
            - topic
          description: カスタムフィールド識別子
        message:
          description: トピック
          nullable: true
          type: string
      required:
        - fieldId
    CustomField_Config_Members:
      type: object
      description: ホットさん
      properties:
        fieldId:
          type: string
          enum:
            - members
          description: カスタムフィールド識別子
        name:
          description: 名前(ニックネーム)
          type: string
        title:
          description: 肩書き
          type: string
        icon:
          description: アイコン
          $ref: "#/components/schemas/MicroCMSImage"
        introduction:
          description: 自己紹介
          type: string
        hashtag:
          description: ハッシュタグ
          type: string
      required:
        - fieldId
        - name
        - title
        - icon
        - introduction
        - hashtag
    CustomField_History_History:
      type: object
      description: ホットさんの歴史
      properties:
        fieldId:
          type: string
          enum:
            - history
          description: カスタムフィールド識別子
        year:
          description: 年度(小文字)
          type: number
        yearBig:
          description: 年度(大文字)
          type: number
        head:
          description: 現在も続いているお仕事
          nullable: true
          type: array
          items:
            $ref: "#/components/schemas/CustomField_History_Head"
        projects:
          description: 終了したお仕事
          nullable: true
          type: array
          items:
            $ref: "#/components/schemas/CustomField_History_Projects"
        texts:
          description: その年にあったイベント
          nullable: true
          type: array
          items:
            $ref: "#/components/schemas/CustomField_History_Texts"
      required:
        - fieldId
        - year
        - yearBig
    CustomField_History_Head:
      type: object
      description: 現在も続いているお仕事
      properties:
        fieldId:
          type: string
          enum:
            - head
          description: カスタムフィールド識別子
        position:
          description: ライン行目
          type: number
          minimum: 1
          maximum: 5
        text:
          description: テキスト
          nullable: true
          type: string
      required:
        - fieldId
        - position
    CustomField_History_Projects:
      type: object
      description: 終了したお仕事
      properties:
        fieldId:
          type: string
          enum:
            - projects
          description: カスタムフィールド識別子
        periodStart:
          description: 開始年
          type: number
        periodEnd:
          description: 終了年
          type: number
        position:
          description: ライン行
          type: number
          minimum: 1
          maximum: 11
        background:
          description: 背景色(hex値)
          type: string
          minLength: 3
          maxLength: 6
        text:
          description: テキスト
          type: string
        noRound:
          description: 角丸なし
          default: false
          type: boolean
      required:
        - fieldId
        - periodStart
        - periodEnd
        - position
        - background
        - text
        - noRound
    CustomField_History_Texts:
      type: object
      description: その年にあったイベント
      properties:
        fieldId:
          type: string
          enum:
            - texts
          description: カスタムフィールド識別子
        text:
          description: テキスト
          type: string
      required:
        - fieldId
        - text
    CustomField_Recruit_RecruitmentMedia:
      type: object
      description: 採用媒体リンク
      properties:
        fieldId:
          type: string
          enum:
            - recruitmentMedia
          description: カスタムフィールド識別子
        name:
          description: 名称
          type: string
        url:
          description: URL
          type: string
      required:
        - fieldId
        - name
        - url
    2w26g39c3ibq:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: タイトル
              type: string
            content:
              description: 本文 (HTML)
              type: string
          required:
            - id
            - title
            - content
    2w26g39c3ibqListResponse:
      type: object
      description: 2w26g39c3ibq 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/2w26g39c3ibq"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Category:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: カテゴリ名称 - ※一意な値
              type: string
            en:
              description: 英称 - ※一意な値
              type: string
            description:
              description: 説明文
              type: string
          required:
            - id
            - title
            - en
            - description
    CategoryListResponse:
      type: object
      description: category 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Client:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: クライアント名称 - クライアント正式名称を登録してください - ※一意な値
              type: string
          required:
            - id
            - title
    ClientListResponse:
      type: object
      description: client 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Client"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Config:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            maintenance:
              description: メンテナンスモード - メンテナンスモードを切り替えます
              default: false
              type: boolean
            maintenanceBody:
              description: メンテナンス説明文 (HTML)
              nullable: true
              type: string
            topics:
              description: トピック
              nullable: true
              type: array
              items:
                $ref: "#/components/schemas/CustomField_Config_Topic"
            company:
              x-custom-classes:
                - name: 外部リンク
                  value: externalLink
              description: "会社概要 - カスタムクラス: externalLink (外部リンク) (HTML)"
              nullable: true
              type: string
            access:
              description: アクセス情報
              nullable: true
              type: array
              items:
                $ref: "#/components/schemas/CustomField_Config_Access"
            recruitImages:
              description: "採用情報で掲載する写真 - 推奨サイズ: 1440x900px"
              default: []
              type: array
              items:
                $ref: "#/components/schemas/MicroCMSImage"
            example:
              description: 採用情報で掲載する案件
              type: array
              items:
                $ref: "#/components/schemas/Works"
              minItems: 3
              maxItems: 3
              default: []
            members:
              description: ホットさん
              nullable: true
              type: array
              items:
                $ref: "#/components/schemas/CustomField_Config_Members"
          required:
            - maintenance
            - recruitImages
            - example
    History:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            history:
              description: ホットさんの歴史
              type: array
              items:
                $ref: "#/components/schemas/CustomField_History_History"
          required:
            - history
    Notes:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: タイトル
              type: string
            thumbs:
              description: "サムネイル - サムネイル画像は1440x900になります - 推奨サイズ: 1440x900px"
              $ref: "#/components/schemas/MicroCMSImage"
            content:
              x-custom-classes:
                - name: QAリスト
                  value: qaList
                - name: ハイライト
                  value: highlight
                - name: フォント大
                  value: textLarge
              description: "本文 - カスタムクラス: qaList (QAリスト), highlight (ハイライト), textLarge (フォント大)
                (HTML)"
              type: string
            hashtag:
              description: ハッシュタグ
              nullable: true
              type: string
            writter:
              description: ライター
              type: array
              items:
                type: string
                enum:
                  - Michihiro
                  - Kano
                  - 広報企画室
                  - Taizo Hayata
                  - Fujita
                  - Takenouchi
                  - Nishimura
                  - Komakine
              maxItems: 1
              default: []
          required:
            - id
            - title
            - thumbs
            - content
            - writter
    NotesListResponse:
      type: object
      description: notes 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Notes"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Recruit:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: 職種名
              type: string
            tasks:
              description: 業務内容
              type: string
            requirements:
              description: 応募資格(必須)
              type: string
            welcome:
              description: 応募資格(歓迎)
              nullable: true
              type: string
            location:
              description: 勤務地
              type: array
              items:
                type: string
                enum:
                  - 大阪
                  - 東京
                  - 札幌
                  - 福岡
                  - 北広島
                  - 長崎つなぐベース
              default: []
            mediaGroup:
              description: 採用媒体リンク -
                外部媒体に求人を出している場合はこちらに入力してください。拠点や職種でリンクは複数ある場合は名称に入力したテキストがボタンのテキストとして表示されます。
              nullable: true
              type: array
              items:
                $ref: "#/components/schemas/CustomField_Recruit_RecruitmentMedia"
            open:
              description: 募集停止中 - 募集内容を掲載するが応募自体を停止する場合にTrueにしてください
              default: false
              type: boolean
          required:
            - id
            - title
            - tasks
            - requirements
            - location
            - open
    RecruitListResponse:
      type: object
      description: recruit 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Recruit"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Tags:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: カテゴリ名
              type: string
            en:
              description: 英称
              type: string
            character:
              description: キャラクター
              type: array
              items:
                type: string
                enum:
                  - 福岡
                  - 渡邉
                  - 藤田
                  - 竹之内
                  - 駒木根・西村
                  - 福田
                  - 安倍
                  - 藤井
                  - 加納
                  - 鎌田
                  - 早田
              maxItems: 1
              default: []
            description:
              description: 説明文
              type: string
            example:
              description: 関連実績
              type: array
              items:
                $ref: "#/components/schemas/Works"
              minItems: 3
              maxItems: 3
              default: []
          required:
            - id
            - title
            - en
            - character
            - description
            - example
    TagsListResponse:
      type: object
      description: tags 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Tags"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
    Works:
      allOf:
        - $ref: "#/components/schemas/MicroCMSContentBase"
        - type: object
          properties:
            id:
              type: string
              description: コンテンツID
            title:
              description: タイトル - タイトルを登録してください
              type: string
            name:
              description: 案件名 - 案件名称を入力してください
              type: string
            client:
              description: クライアント
              allOf:
                - $ref: "#/components/schemas/Client"
              nullable: true
            category:
              description: お客様カテゴリ
              type: array
              items:
                $ref: "#/components/schemas/Category"
              default: []
            tag:
              description: サービスカテゴリ
              type: array
              items:
                $ref: "#/components/schemas/Tags"
              default: []
            img:
              description: "メインビジュアル - メインビジュアル画像は1440x900になります - 推奨サイズ: 1440x900px"
              $ref: "#/components/schemas/MicroCMSImage"
            description:
              description: メイン説明文 - キャッチコピー説明文
              type: string
            descriptionSub:
              description: サブ説明文
              type: string
            provided:
              description: 提供内容
              type: string
            url:
              description: サービスのURL
              nullable: true
              type: string
            construction:
              description: 構築期間
              nullable: true
              type: string
            launch:
              description: ローンチ時期 - ※日付のみ指定 (時刻は00:00:00 UTC)
              type: string
              format: date-time
            ended:
              description: 提供終了時期 - ※日付のみ指定 (時刻は00:00:00 UTC)
              nullable: true
              type: string
              format: date-time
            content:
              x-custom-classes:
                - name: ハイライト
                  value: highlight
                - name: 文字強調
                  value: textLarge
                - name: 外部リンク
                  value: externalLink
                - name: SPでも強制改行
                  value: spbr
                - name: マージンボトム20px
                  value: mb20
                - name: マージンボトム30px
                  value: mb30
                - name: マージンボトム40px
                  value: mb40
                - name: マージントップ20px
                  value: mt20
                - name: マージントップ30px
                  value: mt30
                - name: マージントップ40px
                  value: mt40
              description: "本文 - カスタムクラス: highlight (ハイライト), textLarge (文字強調), externalLink
                (外部リンク), spbr (SPでも強制改行), mb20 (マージンボトム20px), mb30
                (マージンボトム30px), mb40 (マージンボトム40px), mt20 (マージントップ20px), mt30
                (マージントップ30px), mt40 (マージントップ40px) (HTML)"
              type: string
            related:
              description: 関連実績
              type: array
              items:
                $ref: "#/components/schemas/Works"
              minItems: 0
              maxItems: 4
              default: []
          required:
            - id
            - title
            - name
            - client
            - category
            - tag
            - img
            - description
            - descriptionSub
            - provided
            - launch
            - content
    WorksListResponse:
      type: object
      description: works 一覧レスポンス
      properties:
        contents:
          type: array
          items:
            $ref: "#/components/schemas/Works"
        totalCount:
          type: integer
          description: 該当コンテンツの総件数
        offset:
          type: integer
          description: 現在の取得オフセット
        limit:
          type: integer
          description: 1ページあたりの取得件数
      required:
        - contents
        - totalCount
        - offset
        - limit
  parameters:
    limitParam:
      name: limit
      in: query
      description: 取得件数 (0〜100)
      schema:
        type: integer
        minimum: 0
        maximum: 100
        default: 10
    offsetParam:
      name: offset
      in: query
      description: 取得開始位置 (0以上)
      schema:
        type: integer
        minimum: 0
        default: 0
    depthParam:
      name: depth
      in: query
      description: リレーション展開の深さ (0〜3)
      schema:
        type: integer
        minimum: 0
        maximum: 3
        default: 1
    ordersParam:
      name: orders
      in: query
      description: "並び順 (例: -publishedAt, publishedAt,-updatedAt, system:default)"
      schema:
        type: string
    qParam:
      name: q
      in: query
      description: キーワード検索（複数フィールドを対象とした全文検索）
      schema:
        type: string
    fieldsParam:
      name: fields
      in: query
      description: "取得するフィールドの絞り込み（カンマ区切り、例: title,main_image,author.name）"
      schema:
        type: string
    filtersParam:
      name: filters
      in: query
      description: 条件絞り込み (equals, not_equals, contains, not_contains, less_than,
        greater_than, exists, not_exists, begins_with, [and], [or])
      schema:
        type: string
    idsParam:
      name: ids
      in: query
      description: 複数コンテンツIDのカンマ区切りリスト (最大50件)
      schema:
        type: string
    draftKeyParam:
      name: draftKey
      in: query
      description: 下書きプレビュー用キー
      schema:
        type: string
    richEditorFormatParam:
      name: richEditorFormat
      in: query
      description: 旧リッチエディタの出力形式
      schema:
        type: string
        enum:
          - html
          - object
        default: html
  responses:
    BadRequest:
      description: リクエストパラメータ不正
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MicroCMSError"
    Unauthorized:
      description: APIキー不正・未設定
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MicroCMSError"
    NotFound:
      description: コンテンツが見つかりません（または非公開・下書き）
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MicroCMSError"
    TooManyRequests:
      description: APIレート制限超過
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MicroCMSError"
security:
  - XApiKey: []
